<!DOCTYPE html>
<html lang="en">
<head>

    <!--No se van a ver en la pagina web-->
    <title> LVaED </title>
    <meta charset="utf-8">
    <!--para que permita la ñ y los asentos-->
    <meta name="viewport" content "width=device-width, initial-scale=1">
    <!--para redimensionar la web en movil-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylee6.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
</head>
<body>
<header>
        <!--estructura de la web-->
        <nav class="navbar navbar-light bg-light">

            <div class="container-fluid">
                <a class="navbar-brand">
                    <h3>LVaED</h3>
                </a>



            </div>

        </nav>


    </header>
<img src="data:;base64,{{ image }}"/>
<button class="btn btn-secondary " onclick="window.location.href='module3'">Atrás</button>

<div align="center"><img src="imagenes/metalenguaje.png" height="380" width="600"></div>
</body>
</html>